services:
  actual:
    image: actualbudget/actual-server:latest
    container_name: actual-budget
    ports:
      - "${PORT:-5006}:5006"
    volumes:
      - ./data:/data
    restart: unless-stopped
